<header>
  <div class="logo-container">
    <img src="/VISIONARYMOVIES.jpg" alt="Visionary Movies Logo" />
  </div>
  <nav class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/top-rated">Top Rated Movies</a></li>
      <li><a href="/upcoming-movies">Upcoming Movies</a></li>
      <li><a href="/random-movie">Random Movie</a></li>
    </ul>
  </nav>
</header>
