<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main class="main-content">
      <h1>Movies</h1>
    </main>
  </body>
</html>
