<html lang="en">
  <head>
    <title>Top Movies</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <main class="main-content">
      <h1>Top Movies</h1>
    </main>
  </body>
</html>
